body {
    background: linear-gradient(to right, #0e0c1b73,#06020aea,#06020aea, #0b0b1367), url(img/background.jpg);
    background-size: cover;
    margin: auto;
    text-align: center;
    color: white;
}
h1 {
    font-family: 'VT323', monospace;
    font-weight: 700;
    color: #971cbd;
    letter-spacing: 3px;
    font-size: 58pt;
    margin: auto;
    margin-top: 30px;
}
.dados {
    font-family: 'Signika', sans-serif;
    font-weight: 600;
    width: 430px;
    margin: auto;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
}
.nome {
    width: 60px;
    color: #971cbd;
    margin-left: -13px;
}
.pontos {
    width: 40px;
    color: #971cbd;
    margin-left: -13px;
}
.level {
    width: 40px;
    color: #971cbd;
    margin-left: -13px;
}
.botao {
    background: #971cbd;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 3px;
}

canvas#snake {
    border-radius: 10px;
    opacity: 75%;
    border: double 10px white ;
}
footer {
    font-family: 'Signika', sans-serif;
    font-weight: 100;
}
.github {
    margin-top: 20px;
    width: 30px;
}

