body {
    background: linear-gradient(to right, #0e0c1b73,#06020aea,#06020aea, #0b0b1367), url(img/background.jpg);
    background-size: cover;
    margin: auto;
    text-align: center;
    color: white;
}
h1 {
    font-family: 'VT323', monospace;
    font-weight: 700;
    color: #971cbd;
    letter-spacing: 3px;
    font-size: 55pt;
    margin: 40px;
}

canvas#snake {
    border-radius: 10px;
    opacity: 75%;
    border: double 10px white ;
}
footer {
    font-family: 'Signika', sans-serif;
    font-weight: 100;
}
.github {
    margin-top: 20px;
    width: 30px;
}

